/* styles.css */

/* Set gradient background */
html {
    height: 100%;
    background: linear-gradient(.25turn, #176fc6, #31b3cb, #3ea8ba);

  }

* {
    color: white;
    font-family: "Open Sans",Helvetica,sans-serif;
    /* border: solid 1px red; */
}

.header > *{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#round {
    text-align: center;
}

#gameBox {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    padding: 30px;
}

.endGameGreyBox{
    filter: opacity(10%);
}

#playerSide > *, #compSide > * {
    /* display: flex; */
    /* border: 1px solid brown; */
    text-align: center;
}

#playerMsg, #compMsg {
    margin-top: 20px;
}

.button-img, .comp-img {
    width: 120px;
    height: 120px;
}

.greyOutCompImgs{
    opacity: .3;
    /* filter: alpha(opacity=40);   */
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transition: transform .1s ease-in-out;
    margin-left:0px;
    padding: 0px;
}

button:hover {
    transform: scale(1.1);
}

#gameMsg {
    text-align: center;
    /* border: 1px solid green; */
    padding: 30px 10px;
    margin: 0px;
}

#github-logo {
    width: 30px;
    height: 30px;
    padding: 5px;
}

#footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}